body {
	font-family: 'Merriweather Sans', sans-serif;
	background-color: lightgray;
	margin: 0;
	display: flex;
}

.about-text {
	font-size: 20px;
}

header {
	background-color: darkslategray;
	color: #fff;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logo img {
	height: 50px;
}

.links ul {
	list-style: none;
	display: flex;
}

.links li {
	margin-left: 20px;
}

.links a {
	color: #fff;
	text-decoration: none;
}

.caption {
	color: #7b8088;
}

.hero {
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
	border: 20px;
	background-color: lightcoral;
}

.container {
	padding: 20px;
	border: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.container_sides {
	padding: 20px;
	border: 20px;
}

.container_about {
	padding: 100px;
	border: 100px;
}

.text {
	flex: 1;
	margin-right: 20px;
}

.text h2 {
	font-size: 24px;
}

.footer {
	flex-shrink: 0;
	padding: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
	position: relative;
	bottom: 0;
}


.text p {
	font-size: 16px;
	line-height: 1.5;
}

.image {
	flex: 1;
}

.image img {
	width: 100%;
	height: auto;
}

.chart_container {
	width: 70%;
	height: 70%;
}


.big_chart {
	width: 95%;
	height: 100%
}

a {
	color: lightcoral;
}

form input {
	/* This is a hack to make sure our boxes line up with one another nicely */
	width: 100%;
	width: -moz-available;
	/* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;
	/* Mozilla-based browsers will ignore this. */
	width: fill-available;

	/* here we are setting white space correctly */
	margin-bottom: 1rem;
	height: 2rem;
	border-radius: 4px;
}

form label {
	width: 100%;
	width: -moz-available;
	/* WebKit-based browsers will ignore this. */
	width: -webkit-fill-available;
	/* Mozilla-based browsers will ignore this. */
	width: fill-available;
	align-items: flex-start;

	display: block;
	/* this turns the label text into a box we can set margins on */
	margin-bottom: 0.5rem;
}